<!DOCTYPE html>
<html><body><head><meta charset="utf-8"></head>
<form action="/names/update" method="post">
名前:<input type="text" name="name" value="<%= name%>">
<input type="hidden" name="id" value="<%=id%>">
<input type="submit" value="更新">
</form>
<ul>
</ul>
</body></html>